
@{
    ViewBag.Title = "Giải đáp cùng AI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/chatbox.css" rel="stylesheet" />
<!--begin::Chat-->
<div class="d-flex flex-row">
    <!--begin::Content-->
    <div class="flex-row-fluid ml-lg-8" id="kt_chat_content">
        <!--begin::Card-->
        <div class="card card-custom" id="khungChat">
            <!--begin::Header-->
            <div class="card-header align-items-center px-4 py-3">

                <div class="text-center flex-grow-1">
                    <div class="text-dark-75 font-weight-bold font-size-h5" id="nameGroupChat">Trò chuyện AI</div>
                    <div>
                        <span class="label label-sm label-dot label-success"></span>
                        <span class="font-weight-bold text-muted font-size-sm"></span>
                    </div>
                </div>

            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body">
                <!--begin::Scroll-->
                <div class="scroll scroll-pull" id="scroll" data-mobile-height="350">
                    <!--begin::Messages-->
                    <div class="messages" id="chat_body">

                        <!--end::Message Out-->

                    </div>
                    <!--end::Messages-->
                </div>
                <!--end::Scroll-->
            </div>
            <!--end::Body-->
            <!--begin::Footer-->
            <div class="card-footer align-items-center">
                <!--begin::Compose-->
                <textarea class="form-control border-0 p-0" rows="2" placeholder="Nhập tin nhắn" id="chat-input"></textarea>
                <div class="d-flex align-items-center justify-content-between mt-5">
                    <div class="mr-3">
                        @*<a href="#" class="btn btn-clean btn-icon btn-md mr-1">
                                <i class="flaticon2-photograph icon-lg"></i>
                            </a>
                            <a href="#" class="btn btn-clean btn-icon btn-md">
                                <i class="flaticon2-photo-camera icon-lg"></i>
                            </a>*@
                    </div>
                    <div>
                        <button type="button" id="btn-send" class="btn btn-primary btn-md text-uppercase font-weight-bold chat-send py-2 px-6">Send</button>
                    </div>
                </div>
                <!--begin::Compose-->
            </div>
            <!--end::Footer-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Content-->
</div>
<!--end::Chat-->



@section scripts {
    <script>
        $('#aiChatting').addClass('menu-item-active')
    </script>
    <script>
        $(document).ready(function () {
            $('#btn-send').click(function () {
                sendMessage();
            });

            $('#chat-input').keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault(); // Prevent form submission
                    sendMessage();
                }
            });

            function scrollToBottom() {
                var element = document.getElementById('scroll');
                element.scrollTop = element.scrollHeight;
            }

            function sendMessage() {
                const message = $('#chat-input').val().trim();
                if (!message) return;

                $('#chat_body').append(`<div class="d-flex flex-column mb-5 align-items-start">
                     <div class="mt-2 rounded p-5 bg-light-primary text-dark-70 font-weight-bold font-size-lg text-left max-w-400px">${message}</div>
                 </div>`);
                $('#chat-input').val('');

                $.ajax({
                    url: '/AIChatting/SendMessage',
                    method: 'POST',
                    data: { message: message },
                    success: function (response) {
                        if (response.success) {
                            if (response.success) {
                                $('#chat_body').append(`<div class="d-flex flex-column mb-5 align-items-end">
                                                            <div class="mt-2 rounded p-5 bg-light-warning text-dark-70 font-weight-bold font-size-lg text-left max-w-400px">${response.response}</div>
                                                        </div>`);
                            } else {
                                alert(response.response);
                            }
                            scrollToBottom()
                        } else {
                            alert(response.response);
                        }
                       
                    },
                    error: function () {
                        alert('An error occurred while sending the message.');
                    }
                });
            }
        });
    </script>
}
