
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/blog.css" rel="stylesheet" />

<div class="main">
    <div class="header-container">
        <h2>CUỘC THI ĐẠI SỨ VĂN HOÁ ĐỌC</h2>
    </div>
    <div class="main-info">
        <h5 class="artical">Từ năm học 2018-2019 Bộ VH TT &DL đã tổ chức cuộc thi Đại sứ văn hóa đọc hàng năm nhằm khơi dậy tinh thần đọc sách trong các bạn học sinh, sinh viên và nhân dân Việt Nam. Cuộc thi được triển khai rộng khắp bắt đầu từ các Tỉnh và chọn bài xuất sắc thi cấp Quốc gia. Đối tượng dự thi là học sinh từ lớp 1 đến lớp 12, sinh viên đang theo học tại các trường Trung cấp, Cao đẳng, Đại học/học viện và các loại hình giáo dục khác. <br />Xem cụ thể hơn <a href="~/assets/media/mascot/Thong_tin_lien quan_den_cuoc thi_dai_su_van_hoa_doc.docx" download class="text-link">tại đây</a>.</h5>
        <div class="row image-container">
            <div class="image-div">
                <img src="~/assets/media/bg/blog1.jpg" />
            </div>
            <div class="image-div">
                <img src="~/assets/media/bg/blog2.jpg" />
            </div>
            <div class="image-div">
                <img src="~/assets/media/bg/blog3.jpg" />
            </div>
        </div>
        <h5 class="artical">Thể lệ cuộc thi xem <a href="~/assets/media/mascot/The_le_Cuoc_thi_Dai_su_VHD_2024.pdf" download class="text-link">tại đây</a></h5>
    </div>
    
</div>

@section scripts{
    <script>
        $('#blogPage').addClass('menu-item-active')
    </script>
    }
