
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/blog.css" rel="stylesheet" />

<div class="main">
    <div class="header-container">
        <h2>CUỘC THI ĐẠI SỨ VĂN HOÁ ĐỌC</h2>
    </div>
    <h5 class="artical">Từ năm học 2018-2019 Bộ VH TT &DL đã tổ chức cuộc thi Đại sứ văn hóa đọc hàng năm nhằm khơi dậy tinh thần đọc sách trong các bạn học sinh, sinh viên và nhân dân Việt Nam. Cuộc thi được triển khai rộng khắp bắt đầu từ các Tỉnh và chọn bài xuất sắc thi cấp Quốc gia. Đối tượng dự thi là học sinh từ lớp 1 đến lớp 12, sinh viên đang theo học tại các trường Trung cấp, Cao đẳng, Đại học/học viện và các loại hình giáo dục khác. Xem cụ thể hơn <span class="text-link">tại đây</span>.</h5>
</div>

@section scripts{
    <script>
        $('#blogPage').addClass('menu-item-active')
    </script>
    }
