@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

h2 {
    font-family: 'Adigiana Extreme', system-ui !important;
    text-align: center;
    font-size: 3rem;
}

.header-container {
    padding: 20px;
    background-color: #FFEFDE;
    border-radius: 40px;
    box-shadow: 5px 5px 20px rgba(255, 165, 0, 1);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.artical {
    color: white;
    margin-top: 50px;
    padding: 0 40px;
}

.text-link {
    color: #EFA30A;
    font-size: 18px;
}