.slick-slide img {
    width: 150px !important;
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.slick-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.for-you-header {
    font-family: SVN-Billo;
    color: #000 !important;
    font-size: 40px;
    display: flex;
    align-items: flex-start;
    background: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

.autoplay {
    margin-top: 30px;
}

.on-reading-container {
    margin-top: 50px;
}

.slick-slide:hover {
    cursor: pointer;
}

    .slick-slide:hover img {
        transform: scale(1)
    }

.on-reading-list {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.on-reading-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    min-width: 500px;
}

    .on-reading-item:hover {
        cursor: pointer;
        box-shadow: 5px 5px 20px rgba(255, 165, 0, 1);
    }

.on-reading-item img {
    width: 100px;
}


.book-name {
    font-size: 20px;
    font-weight: 500;
    width: 40%;
}

.item-container {
    width: 160px;
    height: 160px;
    background-color: #fff;
    position: relative;
    transform: scale(0.5)
}

.outer {
    height: 160px;
    width: 160px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.inner {
    height: 120px;
    width: 120px;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#number {
    font-weight: 600;
    color: #555;
    font-size: 35px;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450px;
    stroke-dashoffset: 450;
    animation: anim 2s linear forwards;
}

#svg-box {
    position: absolute;
    top: 0;
    left: 0;
}

.book-img {
    height: 100%;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 157.5;
    }
}

@media (max-width: 1600px) {
    .on-reading-list {
        flex-wrap: wrap !important;
    }
}
