
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--begin::Card-->
<div class="card card-custom" id="cardMain">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Danh sách Đề mục sách
            </h3>
        </div>
    </div>
    <div class="card-body">
        <!--begin: Search Form-->
        <!--begin::Search Form-->
        <div class="mb-7">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-5">
                    <div class="row align-items-center">
                        <div class="col-md-12 my-2 my-md-0">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Mã LSX..." id="kt_datatable_search_query" />
                                <span>
                                    <i class="flaticon2-search-1 text-muted"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Search Form-->
        <!--begin: Datatable-->
        <div class="form-group row">
            <div class="datatable datatable-bordered datatable-head-custom col-lg-7" id="typeDatatable"></div>
            <!--end: Datatable-->
            <div class="col-lg-5">
                <!--begin::Card-->
                <div class="card card-custom gutter-b card-border">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">
                                Biểu đồ thống kê
                            </h3>
                        </div>
                    </div>
                    <div class="card-body" style="position: relative;">
                        <!--begin::Chart-->
                        <div id="chart_13" style="min-height: 328.7px;">
                        </div>
                    </div>
                </div>
                <!--end::Card-->
            </div>
        </div>        
    </div>
</div>
<!--end::Card-->

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div style="width: 100%" class="datatable datatable-bordered datatable-head-custom" id="detailDatatable"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/js/admin_home.js"></script>
}
