@{
    ViewBag.Title = "Trang chủ";
}

<link href="~/assets/slick/slick-theme.css" rel="stylesheet" />
<link href="~/assets/slick/slick.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/assets/css/slicknav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Owl carousel -->
<link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.min.css">

<div class="container">
    <div class="for-you-container">
        <div class="row cta-info text-center mb-2" style="padding: 0 !important; width: 100%">
            <h3 class="for-you-header">Dành cho bạn</h3>
        </div>
        <section class="autoplay">
            
        </section>
    </div>
    <div class="on-reading-container">
        <div class="row cta-info text-center" style="padding: 0 !important; width: 100%">
            <h3 class="for-you-header">sách đang đọc</h3>
        </div>
        <div class="on-reading-list mt-5 row">
            <div class="col-6">
                <div class="on-reading-item ">
                    <img src="https://vietjack.me/storage/uploads/images/1/1-1725438592.png">
                    <h4 class="book-name">hihihihihihi</h4>
                    <div class="item-container">
                        <div class="outer">
                            <div class="inner">
                                <div id="number">
                                    65%
                                </div>
                            </div>
                        </div>
                        <svg id="svg-box" xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                            <defs>
                                <linearGradient id="GradientColor">

                                    <stop offset="0%" stop-color="#DA22FF" />

                                    <stop offset="100%" stop-color="#9733EE" />

                                </linearGradient>
                            </defs>
                            <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="on-reading-item ">
                    <img src="https://vietjack.me/storage/uploads/images/1/1-1725438592.png">
                    <h4 class="book-name">hihihihihihi</h4>
                    <div class="item-container">
                        <div class="outer">
                            <div class="inner">
                                <div id="number">
                                    65%
                                </div>
                            </div>
                        </div>
                        <svg id="svg-box" xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                            <defs>
                                <linearGradient id="GradientColor">

                                    <stop offset="0%" stop-color="#DA22FF" />

                                    <stop offset="100%" stop-color="#9733EE" />

                                </linearGradient>
                            </defs>
                            <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/slick/slick.js"></script>
    <script src="~/assets/slick/slick.min.js"></script>
    <script src="~/assets/js/Home/home.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.js"></script>
    <link href="~/assets/css/home.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.5.2/jquery-migrate.min.js" integrity="sha512-BzvgYEoHXuphX+g7B/laemJGYFdrq4fTKEo+B3PurSxstMZtwu28FHkPKXu6dSBCzbUWqz/rMv755nUwhjQypw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $('#homePage').addClass('menu-item-active')

    </script>
}