
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/book_question.css" rel="stylesheet" />

<div class="form-group pt-5 pl-5 pr-5">
    <div class="book-container">
        <div class="button-form">
            <label id="answerBtn">Trả lời câu hỏi</label>
        </div>
        <div class="answer-container">
            <div class="row answer-group">
                <div class="answer-form col-6">
                    <label>Trả lời câu hỏi</label>
                </div>
                <div class="answer-form col-6">
                    <label>Trả lời câu hỏi</label>
                </div>
            </div>
            <div class="row answer-group">
                <div class="answer-form col-6">
                    <label>Trả lời câu hỏi</label>
                </div>
                <div class="answer-form col-6">
                    <label>Trả lời câu hỏi</label>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/js/Book_question/book_question.js"></script>
}

